<h1>Edit Medical Record</h1>
<div class="container">
  <%= simple_form_for [current_user.patient, @medical_record] do |f| %>
    <%= f.input :date, start_year: Time.now.year - 100 %>
    <%= f.input :symptoms %>
    <%= f.input :diagnosis %>
    <%= f.input :prescribed_medicine %>
    <%= f.input :doctor %>
    <%= f.input :photos, as: :file, input_html: { multiple: true }  %>
    <%#= f.input :qr_code %>
    <%= f.button :submit, "Update", class: "btn btn-primary mt-3" %>
  <% end %>
</div>
