<div class="container mt-3 mb-5 pb-5">
  <% if current_user.doctor? %>
    <h1><%= image_tag (@patient.photo.attached? ? cl_image_path(@patient.photo.key) : "user.png"), class: "avatar" %><%= @patient.first_name%>'s Medical History</h1>
  <% else %>
    <h1>Medical History</h1>
  <% end %>
  <% @conditions.each do |condition| %>
    <%= render "condition", condition: condition  %>
  <% end %>
</div>
<%= link_to "Scan New Medical Record", patient_scan_path(@patient), class:"btn btn-primary mt-3 mb-3" %>
<%= link_to "Input New Condition", new_condition_path, class:"btn btn-primary mt-3 mb-3" %>
</div>
