<div class="container mt-3 mb-5 pb-5">
  <% if current_user.doctor? %>
    <h1><%= image_tag (@patient.photo.attached? ? cl_image_path(@patient.photo.key) : "user.png"), class: "avatar" %><%= @patient.first_name%>'s Medical History</h1>
  <% else %>
    <h1>Medical History</h1>
  <% end %>
  <%= link_to general_conditions_path do  %>
    <div class="item-drawer d-flex justify-content-center">
      <%= "General" %>
    </div>
  <% end %>
  <% @conditions.each do |condition| %>
    <%= render "condition", condition: condition  %>
  <% end %>
</div>
<div class="container">
  <%= link_to "Create New Condition", new_condition_path, class:"btn btn-primary mt-3 mb-3" %>
</div>
