<div class="container mb-5 pb-5">
  <h1>Medical History</h1>
  <%= link_to "New Medical Record +", new_patient_medical_record_path(@patient), class:"btn btn-primary mt-3" %>
  <% @medical_records.each do |medical_record| %>
    <div data-controller="drawer" data-drawer-target="drawer" class="item-drawer">
      <div class="item-drawer-content">
        <h3><strong><%= medical_record.date %></strong></h3>
        <h3>Symptoms: </h3>
        <p><%= medical_record.symptoms %></p>
      </div>
      <div  data-action="click->drawer#open"  class="item-drawer-button">
        <i class="fas fa-ellipsis-v"></i>
      </div>
      <div class="item-drawer-settings">
        <a href="<%= patient_medical_record_path(@patient, medical_record) %>"><i class="fas fa-folder-open"></i></a>
        <a href="<%= edit_patient_medical_record_path(@patient, medical_record) %>"><i class="fas fa-pencil-alt"></i></a>
      </div>
    </div>
  <% end %>
</div>
