<div class="container mt-3 mb-5 pb-5">
  <% if current_user.doctor? %>
    <h1><%= image_tag (@patient.photo.attached? ? cl_image_path(@patient.photo.key) : "user.png"), class: "avatar" %><%= @patient.first_name%>'s Medical History</h1>
  <% else %>
    <h1>Medical History</h1>
  <% end %>
  <%= link_to "New Medical Record", new_patient_medical_record_path(@patient), class:"btn btn-primary mt-3 mb-3" %>
  <% @medical_records.each do |medical_record| %>
    <div data-controller="drawer" data-drawer-target="drawer" class="item-drawer">
      <div class="item-drawer-content">
        <h3>Chronic Illnesses </h3>
        <h3><strong><%= medical_record.date %></strong></h3>
        <% if medical_record.symptoms? %>
          <li><%= medical_record.symptoms[0] %></li>
          <p><%#= medical_record.symptoms %></p>
        <% end %>
      </div>
      <div  data-action="click->drawer#open"  class="item-drawer-button">
        <i class="fas fa-ellipsis-v"></i>
      </div>
      <div class="item-drawer-settings">
        <a href="<%= patient_medical_record_path(@patient, medical_record) %>"><i class="fas fa-folder-open"></i></a>
        <a href="<%= edit_patient_medical_record_path(@patient, medical_record) %>"><i class="fas fa-pencil-alt"></i></a>
      </div>
    </div>
  <% end %>
</div>
