<h1>Add new medical record</h1>
<div class="container">
  <%= simple_form_for [current_user.patient, @medical_record] do |f| %>
    <%= f.input :date, start_year: Time.now.year - 100 %>
    <%= f.input :symptoms %>
    <%= f.input :diagnosis %>
    <%= f.input :prescribed_medicine%>
    <%= f.input :photos, as: :file, input_html: { multiple: true }  %>
    <%= f.button :submit, "Create", class: "btn btn-flat mt-3" %>
  <% end %>
</div>
