<h1>Medical History Form</h1>
<div class="container mb-5 pb-5">
  <p>Name: <%= current_user.patient.first_name %> <%= current_user.patient.last_name %></p>
  <p>Date of Birth: <%= current_user.patient.date_of_birth %></p>
  <p>Age: <% now = Time.now.utc.to_date %>
  <%= now.year - current_user.patient.date_of_birth.year - ((now.month > current_user.patient.date_of_birth.month || (now.month == current_user.patient.date_of_birth.month && now.day >= current_user.patient.date_of_birth.day)) ? 0 : 1) %>
  </p>
  <p>Home address: <%= current_user.patient.address %></p>
  <p>Tel: <%= current_user.patient.phone_number %></p>
  <p>Nationality: <%= current_user.patient.nationality %> </p>
  <p>Insurance: <%= current_user.patient.insurance %> </p>
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label pt-0">Symptom</label>
    <div class="col-sm-9">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="exampleInlineCheckbox1" value="option1" required>
        <label class="form-check-label" for="exampleInlineCheckbox1">I have fever</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="exampleInlineCheckbox2" value="option2" required>
        <label class="form-check-label" for="exampleInlineCheckbox2">I have a stomach ache</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="exampleInlineCheckbox3" value="option3" required>
        <label class="form-check-label" for="exampleInlineCheckbox3">I am sick</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="exampleInlineCheckbox4" value="option4" required>
        <label class="form-check-label" for="exampleInlineCheckbox4">I have a diarrhea</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="exampleInlineCheckbox5" value="option5" required>
        <label class="form-check-label" for="exampleInlineCheckbox5">I am vomiting</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="exampleInlineCheckbox6" value="option6" required>
        <label class="form-check-label" for="exampleInlineCheckbox6">I have a runny nose</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="exampleInlineCheckbox7" value="option7" required>
        <label class="form-check-label" for="exampleInlineCheckbox7">I have a cough</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="exampleInlineCheckbox8" value="option8" required>
        <label class="form-check-label" for="exampleInlineCheckbox8">I have a pharynx pain</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="exampleInlineCheckbox9" value="option9" required>
        <label class="form-check-label" for="exampleInlineCheckbox9">I have a headache</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="exampleInlineCheckbox10" value="option10" required>
        <label class="form-check-label" for="exampleInlineCheckbox10">Others. Please describe.</label>
            <div class="row mb-3">
        <label for="exampleTextareaBio" class="col-sm-3 col-form-label">Bio</label>
        <div class="col-sm-9">
          <textarea class="form-control" id="exampleTextareaBio" rows="2" placeholder="Tell us your story" required></textarea>
          <div class="invalid-feedback">Please provide a valid value.</div>
          <div class="valid-feedback">Looks good!</div>
          <div class="form-text">Textarea input example</div>
        </div>
      </div>
      </div>
      <div class="form-text">Collection as inline check boxes example</div>
    </div>
  </div>
  <%= simple_form_for [current_user.patient, @medical_record] do |f| %>
    <%= f.input :symptoms, as: :select, collection: MedicalRecord.symptoms.keys, :input_html => { :multiple => true } %>
    <% if :symptoms == "others" %>
      <%= f.input :symptoms, as: :text %>
    <% end %>
    <%# <%= f.input :photos, as: :file, input_html: { multiple: true }  %>
    <%= f.button :submit, "Save", class:"btn btn-primary mt-3" %>
    <%#= f.input :qr_code %>
  <% end %>
</div>
