<h1>New Medical Record</h1>
<div class="container mb-5 pb-5">
  <%= simple_form_for [current_user.patient, @medical_record] do |f| %>
    <%= f.input :date, start_year: Time.now.year - 100 %>
    <%= f.input :symptoms %>
    <%= f.input :photos, as: :file, input_html: { multiple: true }  %>
    <%= f.button :submit, "Save", class:"btn btn-primary mt-3" %>
    <%#= f.input :qr_code %>
  <% end %>
</div>
