<div class="container mt-3">
  <h1>Medical History Form</h1>
  <div class="container mb-5 pb-5">
    <%= simple_form_for [current_user.patient, @medical_record] do |f| %>
      <%= f.input :id_card, as: :file %> <!-- You can style / change to camera later -->
      <%= f.submit 'Autofill', class: 'btn btn-light' %>
    <% end %>
<!--
    <%= simple_form_for [current_user.patient, @medical_record] do |f| %>
      <p>Name: <%= current_user.patient.first_name %> <%= current_user.patient.last_name %></p>
      <p>Date of Birth: <%= current_user.patient.date_of_birth %></p>
      <p>Age: <% now = Time.now.utc.to_date %>
        <%= now.year - current_user.patient.date_of_birth.year - ((now.month > current_user.patient.date_of_birth.month || (now.month == current_user.patient.date_of_birth.month && now.day >= current_user.patient.date_of_birth.day)) ? 0 : 1) %>
      </p>
      <p>Home address: <%= current_user.patient.address %></p>
      <p>Tel: <%= current_user.patient.phone_number %></p>
      <p>Nationality: <%= current_user.patient.nationality %> </p>
      <p>Insurance: <%= current_user.patient.insurance %> </p>
      <%= f.input :symptoms, as: :check_boxes, collection: MedicalRecord::SYMPTOMS, input_html: { multiple: true }, wrapper: :vertical_collection_inline %>
      <p>Have you ever traveled from abroad? <%= current_user.patient.traveled_from_abroad ? "Yes": "No" %></p>
      <%= f.input :problem_since, as: :date, html5: true, label: "When did your problem(s) start?" %>
      <p>Have you had any health problems in the past? <%= current_user.patient.health_problems ? "Yes": "No" %></p>
      <p>Is there anyone in your family who has had health problems? <%= current_user.patient.family_health_problems ? "Yes": "No" %></p>
      <p>If you have any drugs or allergies, please indicate the kind: <%= current_user.patient.allergies %></p>
      <p>Do you usually take medicines? <%= current_user.patient.usual_medication ? "Yes"  : "No" %></p>
      <p class="mt-5">For women</p>
      <p>Have you been pregnant? <%= current_user.patient.sex == "female" ? current_user.patient.pregnancy  : "" %></p>
      <p>Are you lactating? <%= current_user.patient.sex == "female" ? current_user.patient.lactation  : "" %></p>
      <%#= f.input :symptoms, as: :text %>
      <%# <% if :symptoms == "others" %>
      <%#= f.input :symptoms, as: :text %>
      <%# end %>
      <%# <%= f.input :photos, as: :file, input_html: { multiple: true }  %>
      <%= f.button :submit, "Save", class:"btn btn-primary mt-3" %>
      <%#= f.input :qr_code %>
    <% end %>
-->
  </div>
</div>
