<div style="height: 4032px; width: 3024px; background-image: url(<%= cl_image_path(@patient.id_card.key) %>)" class="position-relative">
  <div class="text-danger position-absolute ms-5 display-4 text-dark" style="top: <%= @infos[0][:location].last %>px; left: <%= 3150 - @infos[0][:location].first%>px">
    <span><%= @infos[0][:text] %></span>
  </div>
  <div class="text-danger position-absolute ms-5 display-4 text-dark" style="top: <%= @infos[1][:location].last %>px; left: <%= 3380 - @infos[1][:location].first%>px">
    <span><%= @infos[1][:text] %></span>
  </div>
  <div class="text-danger position-absolute ms-5 display-4 text-dark" style="top: <%= @infos[2][:location].last %>px; left: <%= 3150 - @infos[2][:location].first%>px">
    <span><%= @infos[2][:text] %></span>
  </div>
  <div class="text-danger position-absolute ms-5 display-4 text-dark" style="top: <%= @infos[3][:location].last %>px; left: <%= 3150 - @infos[3][:location].first%>px">
    <span><%= @infos[3][:text] %></span>
  </div>
  <div class="text-danger position-absolute ms-5 display-4 text-dark" style="top: <%= @infos[4][:location].last %>px; left: <%= 3270 - @infos[4][:location].first%>px">
    <span><%= @infos[4][:text] %></span>
  </div>
  <div class="text-danger position-absolute ms-5 display-4 text-dark" style="top: <%= @infos[5][:location].last %>px; left: <%= 3060 - @infos[5][:location].first%>px">
    <span><%= @infos[5][:text] %></span>
  </div>
  <div class="text-danger position-absolute ms-5 display-4 text-dark" style="top: <%= 2280 - @infos[6][:location].last %>px; left: <%= 3200 - @infos[6][:location].first%>px">
    <span><%= @infos[6][:text] %></span>
  </div>
  <div class="text-danger position-absolute ms-5 display-4 text-dark" style="top: <%= 2280 - @infos[7][:location].last %>px; left: <%= 3200 - @infos[7][:location].first%>px">
    <p><input type="text"></p>
  </div>
</div>
