<div class="container">
  <h1>Medical record show page</h1>
  <h4>Creator: </h4>
  <p><%= "#{@medical_record.creator}" %></p>
  <h4>Doctor name: </h4>
  <p><%= "#{@medical_record.doctor.first_name}" %></p>
  <h4>Patient name: </h4>
  <p><%= "#{@medical_record.patient.first_name}" %></p>
  <h4>Symptoms: </h4>
  <p><%= "#{@medical_record.symptoms}" %></p>
  <%= @medical_record.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
  <%= link_to :back do %>
    <i class="fas fa-arrow-circle-left fa-3x"></i>
  <% end %>
</div>
