<div class="container">
  <div class="card-category-medical">
    <% if @medical_record.doctor_id? %>
      <h5>Doctor name: </h5>
      <p><%= "#{@medical_record.doctor.first_name}" %></p>
    <% elsif @medical_record.doctor_name? %>
      <h5>Doctor name: </h5>
      <p><%= "#{@medical_record.doctor_name}" %></p>
    <% end %>
    <h5>Patient name: </h5>
    <p><%= "#{@medical_record.patient.first_name}" %></p>
    <h5>Symptoms: </h5>
    <p><%= "#{@medical_record.symptoms}" %></p>
    <% if @medical_record.diagnosis? %>
      <h5>Diagnosis: </h5>
      <p><%= "#{@medical_record.diagnosis}" %></p>
    <% end %>
    <% @medical_record.photos.each do |photo| %>
      <%# <div id="lightbox"> %>
      <%= cl_image_tag photo.key, height: 100, width: 100, crop: :fill, class:"zoomD"%>
      <%# </div> %>
    <% end %>
  </div>
  <%= link_to :back do %>
    <i class="fas fa-arrow-circle-left fa-3x"></i>
  <% end %>
</div>
