<div class="container mb-5 pb-5">
  <div class="card-category-profile no-print">
    <div class="d-flex justify-content-between w-100">
      <i class="fas fa-signature"></i>
      <p class="w-75"><%= "#{@medical_record.patient.first_name} #{@medical_record.patient.last_name}" %></p>
    </div>
    <div class="d-flex justify-content-between w-100">
      <i class="far fa-calendar-alt"></i>
      <p class="w-75"><%= "#{@medical_record.patient.date_of_birth}" %></p>
    </div>
    <div class="d-flex justify-content-between w-100">
      <i class="fas fa-venus-mars"></i>
      <p class="w-75"><%= "#{@medical_record.patient.sex}" %></p>
    </div>
    <div class="d-flex justify-content-between w-100">
      <i class="fas fa-ruler"></i>
      <p class="w-75"><%= "#{@medical_record.patient.height}" %> cm</p>
    </div>
    <div class="d-flex justify-content-between w-100">
      <i class="fas fa-weight"></i>
      <p class="w-75"><%= "#{@medical_record.patient.weight}" %> kg</p>
    </div>
    <div class="d-flex justify-content-between w-100">
      <i class="fas fa-plane"></i>
      <p class="w-75">Traveled recently: <%= @medical_record.patient.traveled_from_abroad? ? "Yes" : "No" %></p>
    </div>
    <div class="d-flex justify-content-between w-100">
      <% if @medical_record.patient.smoker? %>
        <i class="fas fa-smoking"></i>
      <% end %>
    </div>
    <div class="d-flex justify-content-between w-100">
      <i class="fas fa-tint"></i>
      <p class="w-75">Blood type: <%= "#{@medical_record.patient.blood_type}" %></p>
    </div>
    <div class="d-flex justify-content-between w-100">
      <i class="fas fa-allergies"></i>
      <p class="w-75">Allergies: <%= "#{@medical_record.patient.allergies}" %></p>
    </div>
    <div class="d-flex justify-content-between w-100">
      <% if @medical_record.patient.female? %>
        <i class="fas fa-baby"></i>
        <p class="w-75"><%= @medical_record.patient.pregnancy? ? "Yes" : "No" %></p>
        <i class="fas fa-jug"></i>
        <p class="w-75"><%= @medical_record.patient.lactation? ? "Yes" : "No" %></p>
      <% end %>
    </div>
    <div class="d-flex justify-content-between w-100">
      <i class="fas fa-heartbeat"></i>
      <p class="w-75">Health problems: <%= "#{@medical_record.patient.health_problems}" %></p>
    </div>
    <div class="d-flex justify-content-between w-100">
      <i class="fas fa-medkit"></i>
      <p class="w-75">Family history: <%= "#{@medical_record.patient.family_health_problems}" %></p>
    </div>
    <div class="d-flex justify-content-between w-100">
      <i class="fas fa-capsules"></i>
      <p class="w-75">Medications: <%= "#{@medical_record.patient.usual_medication}" %></p>
    </div>
    <h2><strong>Visit Info:</strong></h2>
    <h5><strong>Symptoms:</strong> </h5>
    <% if @medical_record.prescribed_medicine? %>
      <h5><strong>Prescribed Medicine:</strong> <%= "#{@medical_record.prescribed_medicine}" %></h5>
    <% end %>
    <ul>
      <% @medical_record.symptoms.each do |symptom| %>
        <li><%= "#{symptom}" %></li>
      <% end %>
    </ul>
    <% if @medical_record.problem_since? %>
      <h5><strong>Since:</strong> <%= "#{@medical_record.problem_since}" %></h5>
    <% end %>
    <% if @medical_record.diagnosis? %>
      <h5><strong>Diagnosis:</strong> <%= "#{@medical_record.diagnosis}" %></h5>
    <% end %>
    <div data-controller="lightbox">
      <% @medical_record.photos.each do |photo| %>
        <%= cl_image_tag photo.key, crop: :fill, class:'zoomD unzoom' %>
      <% end %>
    </div>
    <% if @medical_record.doctor_id? %>
      <h5>Doctor name: </h5>
      <p><%= "#{@medical_record.doctor.first_name}" %></p>
    <% elsif @medical_record.doctor_name? %>
      <h5>Doctor name: </h5>
      <p><%= "#{@medical_record.doctor_name}" %></p>
    <% end %>
  </div>
  <% if @medical_record.photo_form.attached?%>
    <div class="to-print">
      <button onclick="window.print();" class="no-print btn btn-primary mb-3">PRINT</button>
      <div data-controller="resize" class="resize-wrapper">
        <div data-resize-target="toResize" class="resize-element">
          <div class="position-relative">
            <%= simple_form_for @medical_record do |f| %>
              <% @infos.each do |info| %>
                <div class="position-absolute display-4 text-weight-bold <%= info[:class] %>" style="top: <%= info[:location].last %>px; left: <%= info[:location].first%>px;<%= info[:style] %>">
                  <span><%= info[:text] %></span>
                </div>
              <% end %>
            <% end %>
          </div>
          <%= cl_image_tag(@medical_record.photo_form.key, height: 4032, width: 3024) %>
        </div>
        <%= cl_image_tag(@medical_record.photo_form.key) %>
      </div>
    </div>
  <% end %>
</div>
