<div class="container">
  <div class="card-category-medical">
    <h4>Doctor name: </h4>
    <p><%= "#{@medical_record.doctor.first_name}" %></p>
    <h4>Patient name: </h4>
    <p><%= "#{@medical_record.patient.first_name}" %></p>
    <h4>Symptoms: </h4>
    <p><%= "#{@medical_record.symptoms}" %></p>
    <h4>Diagnosis: </h4>
    <p><%= "#{@medical_record.diagnosis}" %></p>
    <% @medical_record.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 100, width: 100, crop: :fill %>
    <% end %>
  </div>
  <%= link_to :back do %>
    <i class="fas fa-arrow-circle-left fa-3x"></i>
  <% end %>
</div>
