<div class="container mt-3 mb-3" style="height: 81vh; align-items: center">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)">
    <div class="container">
      <h1>Welcome</h1>
    </div>
  </div>
  <% if user_signed_in? && current_user.user_type == "patient" %>
    <div class="cards container">
      <div class="row justify-content-center row-cols-2">
        <div class="col">
          <%= link_to patient_medical_records_path(current_user.patient) do%>
            <div class="card-category-dashboard first">
              <i class="fas fa-file-medical fa-4x"></i>
              <p>Medical Records</p>
            </div>
          <% end %>
        </div>
        <div class="col">
          <%= link_to calendar_path(current_user) do%>
            <div class="card-category-dashboard">
              <i class="far fa-calendar-alt fa-4x"></i>
              <p>Calendar</p>
            </div>
          <% end %>
        </div>
      </div>
      <div class="row justify-content-center row-cols-2">
        <div class="col">
          <%= link_to patient_medical_records_path(current_user.patient) do%>
            <div class="card-category-dashboard">
              <i class="far fa-map fa-4x"></i>
              <p>Locate</p>
            </div>
          <% end %>
        </div>
        <div class="col">
          <%= link_to new_patient_medical_record_path(current_user.patient) do %>
            <div class="card-category-dashboard last">
              <i class="fas fa-paste fa-4x"></i>
              <p>New Form</p>
            </div>
          <% end %>
        </div>
      </div>
    <% elsif user_signed_in? && current_user.user_type == "doctor" %>
      <div class="cards container">
        <div class="row justify-content-center row-cols-2">
          <div class="col">
            <%= link_to dashboard_path do%>
              <div class="card-category-dashboard first">
                <i class="fa fa-book fa-5x" aria-hidden="true"></i>
                <p>Patients</p>
              </div>
            <% end %>
          </div>
          <div class="col">
            <%= link_to dashboard_path do%>
              <div class="card-category-dashboard">
                <i class="fa fa-calendar fa-5x" aria-hidden="true"></i>
                <p>Calendar</p>
              </div>
            <% end %>
          </div>
        </div>
        <div class="row justify-content-center row-cols-2">
          <div class="col">
            <%= link_to dashboard_path do%>
              <div class="card-category-dashboard">
                <i class="fas fa-qrcode fa-5x" aria-hidden="true"></i>
                <p>Scan</p>
              </div>
            <% end %>
          </div>
          <div class="col">
            <%= link_to dashboard_path do%>
              <div class="card-category-dashboard last">
                <i class="fa fa-bookmark fa-5x" aria-hidden="true"></i>
                <p>Library</p>
              </div>
            <% end %>
          </div>
        </div>
      <% else %>
        <%= link_to dashboard_path do%>
          <div class="card-category-dashboard">
            <i class="fa fa-map-marker fa-5x" aria-hidden="true"></i>
            <p>Locate</p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
