<div class="container mt-3">
  <h1>Options</h1>
</div>
<div class="container mb-3" style="height: 55vh; align-items: center; display: flex;">
  <% if user_signed_in? && current_user.user_type == "patient" %>
    <div class="cards container">
      <div class="row justify-content-center row-cols-2">
        <div class="col">
          <%= link_to patient_medical_records_path(current_user.patient) do%>
            <div class="card-category-dashboard">
              <i class="fas fa-file-medical fa-3x"></i>
              <p>Records</p>
            </div>
          <% end %>
        </div>
        <div class="col">
          <%= link_to calendar_path do%>
            <div class="card-category-dashboard">
              <i class="far fa-calendar-alt fa-3x"></i>
              <p>Calendar</p>
            </div>
          <% end %>
        </div>
      </div>
      <div class="row justify-content-center row-cols-2">
        <div class="col">
          <%= link_to map_path do%>
            <div class="card-category-dashboard">
              <i class="fas fa-map-marker-alt fa-3x"></i>
              <p>Map</p>
            </div>
          <% end %>
        </div>
        <div class="col">
          <%= link_to new_patient_medical_record_path(current_user.patient) do %>
            <div class="card-category-dashboard">
              <i class="fas fa-paste fa-3x"></i>
              <p>New Form</p>
            </div>
          <% end %>
        </div>
      </div>
    <% elsif user_signed_in? && current_user.user_type == "doctor" %>
      <div class="cards container">
        <div class="row justify-content-center row-cols-2">
          <div class="col">
            <%= link_to patients_path do%>
              <div class="card-category-dashboard first">
                <i class="fa fa-book fa-3x" aria-hidden="true"></i>
                <p>Patients</p>
              </div>
            <% end %>
          </div>
          <div class="col">
            <%= link_to doctor_medical_records_path do%>
              <div class="card-category-dashboard">
                <i class="fas fa-file-medical fa-3x"></i>
                <p>Medical Records</p>
              </div>
            <% end %>
          </div>
        </div>
        <div class="row justify-content-center row-cols-2">
          <div class="col">
            <%= link_to dashboard_path do%>
              <div class="card-category-dashboard">
                <i class="fas fa-qrcode fa-3x" aria-hidden="true"></i>
                <p>Scan</p>
              </div>
            <% end %>
          </div>
          <div class="col">
            <%= link_to map_path do%>
              <div class="card-category-dashboard">
                <i class="fas fa-map-marker-alt fa-3x"></i>
                <p>Map</p>
              </div>
            <% end %>
          </div>
        </div>
      <% else %>
        <div class="cards container">
          <%= link_to map_path do%>
            <div class="card-category-dashboard">
              <i class="fas fa-map-marker-alt fa-3x"></i>
              <p>Map</p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
