<div class="container">
  <h1> Update Personal Info</h1>
  <%# <%= f.input :photo, as: :file %>
  <%= simple_form_for(@patient) do |f| %>
    <div class="row">
      <div class="col"><%= f.input :last_name %></div>
      <div class="col"><%= f.input :first_name %></div>
    </div>
    <%= f.input :date_of_birth, start_year: Time.now.year - 100, selected: 1990 %>
    <div class="row">
      <div class="col"><%= f.input :sex, collection: Patient.sexes.keys %></div>
      <div class="col"><%= f.input :blood_type, :collection => %w[A+ B+ AB+ O+ A- B- AB- O-] %></div>
      <div class="col"><%= f.input :height, as: :select, collection: (0..250), label: "Height (cm)", selected: 150 %></div>
      <div class="col"><%= f.input :weight, as: :select, collection: (0..200),label: "Weight (kg)", selected: 50 %></div>
    </div>
    <%= f.input :allergies %>
    <%= f.input :address %>
    <%= f.input :phone_number %>
    <%= f.input :emergency_contact %>
    <%= f.input :smoker %>
    <%= f.input :photo, as: :file %>
    <%= f.submit value: "Save", class: "btn btn-primary"%>
  <% end %>
</div>
