<div class="container mt-3 mb-5 pb-5 text-black">
  <h1>Your Personal Info</h1>
  <div class="card-category-profile">
    <div class="d-flex justify-content-between w-100">
      <i class="fas fa-signature"></i>
      <p class="w-75"><%= "#{@patient.first_name} #{@patient.last_name}" %></p>
    </div>
    <div class="d-flex justify-content-between w-100">
      <i class="far fa-calendar-alt"></i>
      <p class="w-75"><%= "#{@patient.date_of_birth}" %></p>
    </div>
    <div class="d-flex justify-content-between w-100">
      <i class="fas fa-venus-mars"></i>
      <p class="w-75"><%= "#{@patient.sex}" %></p>
    </div>
    <div class="d-flex justify-content-between w-100">
      <i class="fas fa-flag"></i>
      <p class="w-75"><%= "#{@patient.nationality}" %></p>
    </div>
    <div class="d-flex justify-content-between w-100">
      <i class="fas fa-phone-volume"></i>
      <p class="w-75"><%= "#{@patient.phone_number}" %></p>
    </div>
    <div class="d-flex justify-content-between w-100">
      <i class="fas fa-ruler"></i>
      <p class="w-75"><%= "#{@patient.height}" %> cm</p>
    </div>
    <div class="d-flex justify-content-between w-100">
      <i class="fas fa-weight"></i>
      <p class="w-75"><%= "#{@patient.weight}" %> kg</p>
    </div>
    <div class="d-flex justify-content-between w-100">
      <i class="fas fa-address-book"></i>
      <p class="w-75"><%= "#{@patient.emergency_contact}" %> </p>
    </div>
    <div class="d-flex justify-content-between w-100">
      <i class="fas fa-credit-card"></i>
      <p class="w-75"><%= "#{@patient.insurance}" %></p>
    </div>
    <br>
    <div class="d-flex justify-content-between w-100">
      <i class="fas fa-plane"></i>
      <p class="w-75">Traveled recently: <%= @patient.traveled_from_abroad? ? "Yes" : "No" %></p>
    </div>
    <div class="d-flex justify-content-between w-100">
      <% if @patient.smoker? %>
        <i class="fas fa-smoking"></i>
      <% end %>
    </div>
    <div class="d-flex justify-content-between w-100">
      <i class="fas fa-tint"></i>
      <p class="w-75">Blood type: <%= "#{@patient.blood_type}" %></p>
    </div>
    <div class="d-flex justify-content-between w-100">
      <i class="fas fa-allergies"></i>
      <p class="w-75">Allergies: <%= "#{@patient.allergies}" %></p>
    </div>
    <div class="d-flex justify-content-between w-100">
      <% if @patient.female? %>
        <i class="fas fa-baby"></i>
        <p class="w-75"><%= @patient.pregnancy? ? "Yes" : "No" %></p>
        <i class="fas fa-jug"></i>
        <p class="w-75"><%= @patient.lactation? ? "Yes" : "No" %></p>
      <% end %>
    </div>
    <div class="d-flex justify-content-between w-100">
      <i class="fas fa-heartbeat"></i>
      <p class="w-75">Health problems: <%= "#{@patient.health_problems}" %></p>
    </div>
    <div class="d-flex justify-content-between w-100">
      <i class="fas fa-medkit"></i>
      <p class="w-75">Family history: <%= "#{@patient.family_health_problems}" %></p>
    </div>
    <div class="d-flex justify-content-between w-100">
      <i class="fas fa-capsules"></i>
      <p class="w-75">Medications: <%= "#{@patient.usual_medication}" %></p>
    </div>
  </div>
  <%=link_to "Edit", edit_patient_path(current_user.patient), class: "btn btn-primary mb-3" %>
</div>
