<h1>Your Personal Info</h1>
<h3>Full Name: </h3>
<p><%= "#{@patient.last_name}, #{@patient.first_name}" %></p>
<h3>Date of Birth: </h3>
<p><%= "#{@patient.date_of_birth}" %></p>
<h3>Sex: </h3>
<p><%= "#{@patient.sex}" %></p>
<h3>Blood Type: </h3>
<p><%= "#{@patient.blood_type}" %></p>
<h3>Height: </h3>
<p><%= "#{@patient.height}" %> cm</p>
<h3>Weight: </h3>
<p><%= "#{@patient.weight}" %> kg</p>
<h3>Allergies: </h3>
<p><%= "#{@patient.allergies}" %></p>
<h3>Phone Number: </h3>
<p><%= "#{@patient.phone_number}" %></p>
<h3>Emergency Contact: </h3>
<p><%= "#{@patient.emergency_contact}" %></p>
<h3>Smoker: </h3>
<p><%= @patient.smoker?%></p>
<%=link_to "Edit", edit_patient_path(current_user.patient) %>
