<div class="container mb-5">
  <h1>Your Personal Info</h1>
  <%= image_tag (current_user.patient.photo.attached? ? cl_image_path(current_user.patient.photo.key) : "user.png"), height: 300, crop: :fill %>
  <h4>Full Name: </h4>
  <p><%= "#{@patient.last_name}, #{@patient.first_name}" %></p>
  <h4>Date of Birth: </h4>
  <p><%= "#{@patient.date_of_birth}" %></p>
  <h4><i class="fas fa-venus-mars"></i> - <%= "#{@patient.sex}" %></h4>
  <h4><i class="fas fa-tint"></i>Type - <%= "#{@patient.blood_type}" %></h4>
  <h4><i class="fas fa-ruler"></i> - <%= "#{@patient.height}" %> cm</h4>
  <h4><i class="fas fa-weight"></i> - <%= "#{@patient.weight}" %> kg</h4>
  <h4><i class="fas fa-phone-volume"></i> - <%= "#{@patient.phone_number}" %></h4>
  <h4>Allergies: </h4>
  <p><%= "#{@patient.allergies}" %></p>
  <h4>Emergency Contact: </h4>
  <p><%= "#{@patient.emergency_contact}" %></p>
  <h4><i class="fas fa-smoking"></i> - <%= @patient.smoker?%></h4>
  <%=link_to "Edit", edit_patient_path(current_user.patient), class: "btn btn-primary mb-3" %>
</div>
