<div class="simple-calendar">
  <h2><span class="calendar-title mb-3"><%= t('date.month_names')[start_date.month] %> <%= start_date.year %></span></h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day), data:{ bs_toggle: "modal", bs_target: "#calendarModal-#{day.to_s}" } do %>
              <div>
                <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block) %>
                  <% @events.each do |event| %>
                    <%= event.title %>
                  <% end %>
                  <% capture_haml(day, sorted_events.fetch(day, []), &passed_block) %>
                <% else %>
                  <% passed_block.call day, sorted_events.fetch(day, []) %>
                <% end %>
              </div>
            <% end %>
            <%# events = @events.where(start_time: start_date.midnight..start_date.end_of_day, patient: current_user.patient) %>
            <div class="modal fade" id="calendarModal-<%= day.to_s %>" tabindex="-1" aria-labelledby="calendarModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-info">
                    <div class="container">
                      <h1>Events</h1>
                      <% @events.each do |event| %>
                        <strong><%= event.title %></strong>
                        <br>
                      <% end %>
                    </div>
                  </div>
                  <div class="modal-header">
                    <h5 class="modal-title" id="calendarModalLabel-<%= day.to_s %>">Manage your events</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="container">
                      <%= simple_form_for @event do |f| %>
                        <%= f.input :title %>
                        <%= f.input :start_time, default: day, as: :time, html5: true, input_html: {class:"datepicker"} %>
                        <%= f.input :end_time, default: day, as: :time, html5: true, input_html: {class:"datepicker"} %>
                        <%= f.input :location %>
                        <%= f.input :notes %>
                        <%= hidden_field_tag :today, day  %>
                        <%= f.submit "Save", class: "btn btn-primary mt-3 mb-3" %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to t('simple_calendar.previous', default: 'Previous'), calendar.url_for_previous_view, class:"btn btn-primary" %>
  <%= link_to t('simple_calendar.next', default: 'Next'), calendar.url_for_next_view, class:"btn btn-primary" %>
</div>
